
.container {
    display: grid; 
    gap: 0.75rem; 
    grid-column: span 6 / span 6; 
}

.bullet-container {
    position: relative;            
    grid-column: span 6 / span 6;  
  }

.full-column-span {
    grid-column: span 6 / span 6;  
}

.half-column-span {
    grid-column: span 3 / span 6;  
}

.bullet-visibility-button {
    position: absolute; 
    left: 7.7rem;       
    top: 0.07rem;       
}