@import 'utils/variables';
@import 'utils/colors';

@import 'base/reset';


@import 'layout/forms';


html,
body {
    font-family: $main-font-regular;
    font-size: $body-xs;
    height: 100%;
    width: 100%;
}

#appContent {
    width: 100%;
    height: 100vh;
}

a,
a:link,
a:visited {
    color: blue;
}

*:focus {
    outline: none;
}