
.container {
    position: relative;
    height: 100%;
    overflow: hidden;
    margin: 24px 48px;
    @media (max-width: 768px) { 
        overflow: scroll;
        margin: 12px 24px;
    }
}

.resume-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media (min-width: 768px) { 
        grid-template-columns: repeat(6, 1fr);
    }
}

.item {
    grid-column: span 3;
}