

//Fonts ===========================================
$main-font-light: 'Poppins Light', sans-serif;
$main-font-regular: 'Poppins Regular', sans-serif;
$main-font-bold: 'Poppins Bold', sans-serif;
$main-font-bold-italic: 'Poppins Bold Italic', sans-serif;
$main-font-italic: 'Poppins Light Italic', sans-serif;

$body-l: 22px;
$body-m: 18px;
$body-s: 16px;
$body-xs: 14px;


$spacer-0: 0px;
$spacer-1: 0px;
$spacer-2: 2px;
$spacer-4: 4px;
$spacer-8: 8px;
$spacer-12: 12px;
$spacer-16: 16px;
$spacer-20: 20px;
$spacer-24: 24px;
$spacer-28: 28px;
$spacer-32: 32px;
$spacer-40: 40px;
$spacer-48: 48px;
$spacer-64: 64px;
$spacer-80: 80px;