.container {
  display: flex;
  justify-content: center;
  border-radius: 0.375rem; // Tailwind's rounded-md
  border-width: 2px;
  border-style: dashed;
  border-color: #d1d5db; // Tailwind's gray-300
  padding-left: 1.5rem; // Tailwind's px-6
  padding-right: 1.5rem; // Tailwind's px-6
}

.hoveredBorderColor {
  border-color: #0ea5e9; // Tailwind's sky-400 color
}

.container-p1 {
  padding-bottom: 1.5rem; // Tailwind's pb-6
  padding-top: 1rem;     // Tailwind's pt-4
}

.container-p2 {
  padding-top: 3rem;   // Tailwind's py-12, which adds padding of 3rem (48px) to the top
  padding-bottom: 3rem; // Tailwind's py-12, which adds padding of 3rem (48px) to the bottom
}