
.tooltip {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: max-content;
    border-radius: 0.375rem; // Rounded medium (Tailwind's md)
    background-color: #4b5563; // Tailwind's gray-600
    padding-left: 0.5rem; // Tailwind's px-2
    padding-right: 0.5rem; // Tailwind's px-2
    padding-top: 0.125rem; // Tailwind's py-0.5
    padding-bottom: 0.125rem; // Tailwind's py-0.5
    font-size: 0.875rem; // Tailwind's text-sm
    color: #ffffff; // Tailwind's text-white
  }