.container {
    display: flex;

    justify-content: center;

    scrollbar-width: thin;

    scrollbar-color: gray-100 transparent;

    &::-webkit-scrollbar {
        width: 0.75rem;
    }

    &::-webkit-scrollbar-track {
        background-color: #f5f5f5;
    }

    @media (min-width: 768px) {
        height: calc(100vh - 3.5rem);

        justify-content: flex-end;

        overflow-y: scroll;
    }
}

.section-container {
    display: flex;

    max-width: 42rem;

    flex-direction: column;

    gap: 2rem;

    padding: 1.5rem;
}

.custom-scrollbar {
    &::-webkit-scrollbar-thumb {
        background-color: #e5e7eb;
    }

    &::-moz-scrollbar-thumb {
        background-color: #e5e7eb;
    }

    &::-ms-scrollbar-thumb {
        background-color: #e5e7eb;
    }
}

.custom-visibility {
    display: none;

    @media (min-width: 768px) {
        display: block;
    }
}

.full-column-span {
    grid-column: span 12 / span 12;
}

.half-column-span {
    grid-column: span 6 / span 12;
}